@font-face {
  font-family:'PFSquareSansPro'; 
  src: url('../fonts/PFSquareSansPro/PFSquareSansPro.eot'); 
  src: local('PFSquareSansPro'),
       url('../fonts/PFSquareSansPro/PFSquareSansPro.woff') format('woff'),
       url('../fonts/PFSquareSansPro/PFSquareSansPro.ttf') format('truetype');
}
@font-face {
  font-family:'Lobster'; 
  src: url('../fonts/lobster/Lobster_1_4.eot'); 
  src: local('Lobster_1_4'),
       url('../fonts/lobster/Lobster_1_4.woff') format('woff'),
       url('../fonts/lobster/Lobster_1_4.ttf') format('truetype');
}
@font-face {
  font-family:'OpenSans'; 
  src: url('../fonts/openSANS/OpenSans-Regular.eot'); 
  src: local('OpenSans-Regular'),
       url('../fonts/openSANS/OpenSans-Regular.woff') format('woff'),
       url('../fonts/openSANS/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family:'OpenSansSemi-Bold'; 
  src: url('../fonts/openSANSsemiBold/OpenSans-SemiBold.eot'); 
  src: local('OpenSans-SemiBold'),
       url('../fonts/openSANSsemiBold/OpenSans-SemiBold.woff') format('woff'),
       url('../fonts/openSANSsemiBold/OpenSans-SemiBold.ttf') format('truetype');
}
@font-face {
      font-family: "MyriadProRegular";
      src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
      src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
      url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
      url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
      font-style: normal;
      font-weight: normal;
  }