@import "../css/fonts"
$font: ""
$main_color: #be1e2d
$color_text: #232020


*
	margin: 0
	padding: 0
%before
	content: ""
	position: absolute
%background
	background-size: cover
	background-position: center
body
	background: #fff
	font-family: $font
	min-width: 320px
	font-size: 25px
	color: $color_text
.content
	max-width: 1200px
	margin: 0 auto
	padding: 0 10px
	overflow: hidden
	a
		text-decoration: none
	h1
		float: left
		font-size: 43px
		vertical-align: middle
		a
			color: #44c0c2
			font-family: Lobster
			// vertical-align: middle

	nav
		float: right

		li
			display: inline-block;
			padding: 30px 24px
			font-size: 15px
			font-family: OpenSans
			float: left
			a
				color: #44c0c2
		li:hover
			background-color: #f8f9fb
			border-bottom: 3px solid #44c0c2
	.active
		background-color: #f8f9fb
		border-bottom: 3px solid #44c0c2

.slider
	max-width: 100%
.slide
	position: relative
	text-align: center
	img 
		display: block
		width: 100%

	.text
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		h2
			font: 63px OpenSans
			color: #fff
			max-width: 670px
		p
			font: 23px OpenSans
			color: #fff
		button
			width: 225px
			height: 63px
			border: 3px solid #fff
			border-radius: 5px;
			background-color: rgba(117, 226, 255, 0)
			font: 26px MyriadProRegular
			color: #fff
			margin: 63px 0 0 0
			cursor: pointer
.Team
	h3
		font: 42px OpenSans
		color: #4e525d
		text-align: center
		margin: 108px 0 0 0
	h4
		color: #4e525d
		text-align: center
		font: 22px OpenSans
	p
		color: #4e525d
		text-align: center
		font: 14px OpenSans
		max-width: 246px
	ul
		text-align: center
		li
			display: inline-block

	

footer
	max-width: 100%
	img
		width: 100%

		

@import "_media"